server:
  port: 8080
spring:
  application:
    name: "franquicia"
  devtools:
    add-properties: false
  datasource:
    url: "jdbc:postgresql://${POSTGRES_ADDON_HOST}:5432/neondb?sslmode=require&channelBinding=require"
    username: ${POSTGRES_ADDON_USER}
    password: ${POSTGRES_ADDON_PASSWORD}
    driver-class-name: "org.postgresql.Driver"
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    databasePlatform: "org.hibernate.dialect.PostgreSQLDialect"
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: "FranquiciaHikariCP"
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
  logging:
    level:
      co.com.franquicia: "DEBUG"
      org.springframework.jdbc: "DEBUG"
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    doc-expansion: none
    filter: true
    display-request-duration: true
    show-extensions: true
    show-common-extensions: true
  show-actuator: false
  use-management-port: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json